@charset "utf-8";
@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
ul,
li {
  list-style: none;
}
body {
  height: 100vh;
  font-family: "GowunDodum-Regular";
  background-color: #e7bfcf;
}

button {
  /* 테두리·배경·그림자 없애기 */
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
